*{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.card1,.card2{
    height: 220px;
    width: 220px;
    font-size: 50px;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 100px;
    padding: 20px;
}
.card1{
    border: 5px solid black;
    background-color: red;
}
.card2{
    border: 5px ridge rgb(147, 220, 147);
    background-color: rgb(74, 153, 127);
    font-family: 'Times New Roman', Times, serif;
    color: wheat;
}
button{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: large;
}